



body {
    background-color: rgb(0, 0, 180);
    background-image: url(../img/gradient_2.jpg);
    align-content: center;
    color: white;
    text-align: center;

}
h1 {

    align-content: center;

}

#funcao {
    align-items: center;
}

tr {
    align-content: center;
}
.respostas {

    width: 200px;
}

inputs {
    align-content: center;
    text-align: center;
}