body {
    background-color: rgb(4, 4, 150);
    background-image: url(../img/gradient_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    padding: 2px;
    min-height: 90vh;
    margin: 0;
    color: aliceblue;
}

.login {
    text-align: center;
  }

.sub {
    text-align: center;
    align-items: center;
    color: aliceblue;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo {
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
    align-content: center;
    text-align: center;
  
  }

  .logopaz {
    color: aliceblue;
    margin-top: 5%;
    padding-left: 15px;
    padding-bottom: 0;
    height: 10%;
    width: 10%;
    align-content: center;
    }

    .divbuton {

        align-content: center;
        text-align: center;
    }

    .buton {
        text-align: center;
        align-content: center;
        border-radius: 15px;
        width: 80px;
        font-size: 15px;
        padding: 5px 10px;
        margin-top: 3px;
        
    }

    .botao2 {
        display: inline-block;
        background-color:darkcyan;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 15px;
        width: 150px; /* largura do botão */
        margin-top: 3px;
        margin-right: 20px;
        margin-bottom: 3px;
        }

    .buton:hover {
        background-color: green;
    }
    
    .inputs {
        text-align:right;
    color: #fff;    
    }

    .respostas {
        text-align:left ;
        width: 150px;
    }

    .titulo {
        text-align: center;
        }


          .botaocentro {
            text-align: center;
          }