
@media (max-width: 768px){
    .img {
        height: 90vh;
        object-fit: cover;
        width: 90%;
        margin-top: 5%;
      
    }
}


body {
background-color: black;

background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
justify-content: center;
padding: 2px;
min-height: 100vh;
margin: 0;
}

.img {
    align-content: center;
    text-align: center;
   
}

