body{
background-image: url(../img/neve-hero-2.png);
background-size: 100%;
padding: 5%;
text-align: center;
background-color: aqua;


}

h2{

    text-align: center;
    color: aliceblue;
    
}


.texto{
text-align: center;
color: aliceblue;

}

