body { 
   
align-items: center;      
background-image: url(../img/neve-hero-2.png);
background-size: 100%;
background-color: rgb(255, 255, 255);
background-size:cover;
justify-content: center;
}



div {

color: aliceblue;
text-align: center;
}



td {
text-align:center;

}

.inputs{
width: 300px;
text-align: center;
padding: 5px 10px;
box-sizing: border-box;
font-size: 12px;
}

