@font-face {
    font-family: 'Peace' ;
    src: url('../Peace\ and\ love.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
  }
h1{
  font-family: 'Peace';
}
  p{
    font-family: 'Peace';
  }