body {
    min-height: 100vh;
    background-color: blue;
    background-image: url(./img/neve-hero-2.png);
    background-repeat: no-repeat;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.sub {
    text-align: center;
    align-items: center;
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
}

.form {
text-align: center;
color: aliceblue;
margin: 5%;
padding-top: 2%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 2%;

}

.inputs {
border-radius: 3%;
width: 300px;
text-align: center;
font-size: 14px;
padding-top: 2px;
padding-bottom: 5px;
}

.resposta {

color:chartreuse;

}

#button {
height: 50px;
color: red;

}
